:root {
	--nav-bg-color: #2a5f5a;
	--logo-color: seagreen;
	--off-white: #eee;
	--gray: #808080;
	--light-gray: #1f1f1f;
	--pane-bg-color: #1f1f1f;
	--pane-border-color: #eee;
	--accent-color: #00875f;
	--page-bg-color: #181818;
}

html {
	font-size: 1rem;
	font-family: ui-monospace;
	background-color: #1d1d1d;
	color: var(--off-white);
	scroll-behavior: smooth;
}

body {
	margin: 0px;

	/* Put squares in the background of the body.
	*  Each row is its own linear-gradient,
	*  positioned carefully with hardcoded values. */
	background-image:
		linear-gradient(90deg, #313131 18px, transparent 0),
		linear-gradient(90deg, #313131 14px, transparent 0),
		linear-gradient(90deg, #313131 10px, transparent 0),
		linear-gradient(90deg, #313131 6px, transparent 0),

		linear-gradient(90deg, #313131 6px, transparent 0),
		linear-gradient(90deg, #313131 10px, transparent 0),
		linear-gradient(90deg, #313131 14px, transparent 0),
		linear-gradient(90deg, #313131 18px, transparent 0);
	background-repeat:
		repeat no-repeat,
		repeat no-repeat,
		repeat no-repeat,
		repeat no-repeat,

		repeat no-repeat,
		repeat no-repeat,
		repeat no-repeat,
		repeat no-repeat;
	background-size:
		20px 18px,
		20px 14px,
		20px 10px,
		20px 6px,

		20px 6px,
		20px 10px,
		20px 14px,
		20px 18px;
	background-position:
		50% 1px,
		calc(50% + 3px + 9px) calc(18px + 3px),
		calc(50% + 5px) calc(36px + 5px),
		calc(50% + 7px + 9px) calc(54px + 7px),

		left calc(50% + 7px + 9px) bottom calc(54px + 7px),
		left calc(50% + 5px) bottom calc(36px + 5px),
		left calc(50% + 3px + 9px) bottom calc(18px + 3px),
		left 50% bottom 1px;
}

/* Trick to stop nav links from transitioning from seagreen before page fully loads. */
a {
	color: var(--off-white);
}
/* Same for the logo, but reverse. */
.logo a {
	color: var(--logo-color);
}

/* Links in paragraphs are seagreen. */
p a {
	color: var(--logo-color);
}

/* Add external link image when opening to new tab, which is always to external site. */
p a[target="_blank"]::after {
	content: "";
	mask-image: url('../img/icons8-external-link.svg');
	mask-size: cover;
	display: inline-flex;
	background-color: var(--logo-color);
	width: .8rem;
	height: .8rem;
	position: relative;
	top: 2px;
	margin-left: 4px;
}

code {
	color: #ea1a0b;
	background-color: #2a2a2a;
	font-size: 1.3em;
	border-radius: 10px;
	padding: 0.1em 0.5em;
}

.container {
	margin: 0px auto;
	width: 80vw;
	background-color: var(--page-bg-color);
}

@media (max-width: 700px) {
	.container {
		width: 100%;
	}
}

main {
	margin-top: 20px;
}

.inset {
	padding: 0px 20px;
}

hr {
	border: 1px solid;
	/* color: inherit; */
	/* color: #00875f; */
	color: #484848;
}
