#page-footer {
	margin-top: 50px;
	background-color: var(--nav-bg-color);
	min-height: 200px;

	/* Hack to get position small text to bottom-left of footer. */
	position: relative;
}

#page-footer #bottom-left {
	position: absolute;
	left: 0px;
	bottom: 0px;

	padding: 10px 15px;
	filter: opacity(40%);
	text-shadow: 1px 1px 0px #2a3d3a;
}
