/*
@font-face {
	font-family: "whisper";
	src: url("assets/fonts/Whisper-Regular.ttf");
}

@font-face {
	font-family: "hack";
	src: url("assets/fonts/Hack-Regular.ttf");
}

@font-face {
	font-family: "terminus";
	src: url("assets/fonts/TerminusTTF-4.46.0.ttf");
}

main {
	font-family: "terminus";
}
*/
main {
	display: grid;
	gap: 20px;
}

section {
	/* border: 2px #00875f solid; */
	padding: 20px 0px;
	background-color: #00875f;
	clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 25px);
}

section > div {
	padding: 4px 20px;
	/* padding-left: 20px; */
}

#welcome {
	width: 500px;
}

section header {
	font-size: 1.2rem;
	font-weight: bold;
	padding-bottom: 8px;
	border-bottom: 1px solid #eee;
}

ul {
	margin-top: 8px;
	margin-bottom: 8px;
}
