/*
@font-face {
	font-family: "whisper";
	src: url("assets/fonts/Whisper-Regular.ttf");
}

@font-face {
	font-family: "hack";
	src: url("assets/fonts/Hack-Regular.ttf");
}

@font-face {
	font-family: "terminus";
	src: url("assets/fonts/TerminusTTF-4.46.0.ttf");
}

main {
	font-family: "terminus";
}
*/
main {
	display: grid;
	gap: 50px;
}

section {
	//border: 2px #00875f solid;
	background-color: #00875f;
	clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20px);
}

section > div {
	padding: 7px 10px;
	padding-left: 20px;
}

#welcome {
	padding: 20px 0px;
	width: 500px;
}
