main {
	margin-right: 40px;
	margin-left: 40px;
}

.infobox {
	width: min(470px, 80%);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#two-column {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}

.one-column {
	display: flex;
	flex-flow: column;
	gap: 20px;
}

.pane {
	padding: 20px 20px;
}

.pane header {
	font-size: var(--minor-header-font-size);
	border-bottom: 1px solid var(--pane-border-color);
	margin-bottom: 8px;
	padding-bottom: 8px;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style-type: none;
	padding: 5px 0px;

	display: flex;
	gap: 20px;

	/* Hack to make descriptions position relative to parent. */
	position: relative;
}

li a {
	margin-right: auto;
}

.link-about-button:hover > summary {
	list-style-type: disclosure-open;
}

.link-about-button:hover + .description {
	display: block;
}

.description {
	display: none;
	position: absolute;
	top: 30px;
	right: 0px;

	z-index: 1;
}

/* Keep description closed if the link-about-button is open. */
.link-about-button[open] + .description {
	display: none;
}

.link-about-button summary {
	cursor: default;
}
