h1 {
	margin: 0;
}

a {
	color: var(--accent-color);
	/* text-decoration: none; */
}

header > .subtitle {
	font-style: italic;
	padding-top: 3px;
	/* color: var(--gray); */
}

/* Put datetime to the right of header, unless there isn't enough space. */
header > .header-date-container {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	column-gap: 50px;
	justify-content: space-between;
}

section div > p {
	padding: 10px 0px;
	margin: 0px 0px;
}

date {
	font-style: italic;
	/* color: var(--gray); */
}

section {
	padding: 10px 0px;
	padding-bottom: 5px;
	margin-bottom: 17px;
	color: var(--pane-border-color);
	background-color: var(--pane-bg-color);
	border: 1px solid var(--pane-border-color);
	max-width: 770px;
}

section > div {
	padding: 4px 20px;
}
