<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Fallible Posts</title>
		<!--
		<link rel="preload" href="assets/fonts/Whisper-Regular.ttf" as="font" type="font/ttf" />
		<link rel="preload" href="assets/fonts/Hack-Regular.ttf" as="font" type="font/ttf" />
		<link rel="preload" href="assets/fonts/TerminusTTF-4.46.0.ttf" as="font" type="font/ttf" />
		-->
		<link rel="stylesheet" href="assets/css/common.css" />
		<link rel="stylesheet" href="assets/css/nav.css" />
		<link rel="stylesheet" href="assets/css/footer.css" />
		<link rel="stylesheet" href="assets/css/posts.css" />

		<link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png" />
		<link rel="manifest" href="assets/img/site.webmanifest" />
	</head>

	<body>
		<div class="container">
			{% include "nav_header.frag.html" %}
			<main class="inset">
				<section class="pane">
					<div>
						<header>
							<div class="header-date-container">
								<h1><a href="finding-datasets-to-map-the-undersea-cable-network.html">Finding Datasets to Map the Undersea Cable Network</a></h1>
								<date>2024-05-30</date>
							</div>
							<div class="subtitle">Transmission 1</div>
						</header>
						<p>A brief look into a side-project that has been at the back of my mind for the better half of a year now.</p>
					</div>
				</section>
			</main>
			{% include "page_footer.frag.html" %}
		</div>
	</body>
</html>
