<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Fallible Homepage</title>
		<!--
		<link rel="preload" href="assets/fonts/Whisper-Regular.ttf" as="font" type="font/ttf" />
		<link rel="preload" href="assets/fonts/Hack-Regular.ttf" as="font" type="font/ttf" />
		<link rel="preload" href="assets/fonts/TerminusTTF-4.46.0.ttf" as="font" type="font/ttf" />
		-->
		<link rel="stylesheet" href="assets/css/common.css" />
		<link rel="stylesheet" href="assets/css/nav.css" />
		<link rel="stylesheet" href="assets/css/footer.css" />
		<link rel="stylesheet" href="assets/css/projects.css" />

		<link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png" />
		<link rel="manifest" href="assets/img/site.webmanifest" />
	</head>

	<body>
		<div class="container">
			{% include "nav_header.frag.html" %}
			<main class="inset">
				<div id="two-column">
					<section class="pane">
						<header>
							<a href="https://github.com/falliblevagrant/warning_window" target="_blank">warning_window</a>
						</header>
						<details>
							<summary>Small networked notification system.</summary>
							<p>Send text over the network to be displayed on a listening TUI server.</p>
							<p>Uses a binary protocol; but an API is available.</p>
							<p>Not safe for use over the Internet.</p>
							<p>A demo can be viewed at the repository.</p>
						</details>
						<div class="description pane">
							<p>Send text over the network to be displayed on a listening TUI server.</p>
							<p>Uses a binary protocol; but an API is available.</p>
							<p>Not safe for use over the Internet.</p>
							<p>A demo can be viewed at the repository.</p>
						</div>
					</section>
					<section class="pane">
						<header>
							<a href="https://github.com/falliblevagrant/geoconn" target="_blank">geoconn</a>
						</header>
						<details>
							<summary>Geolocate IP addresses onto a map. Databases not included.</summary>
							<p>Inspired by the world maps Hollywood likes to put in NASA's mission control or otherwise important-looking rooms.</p>
							<p>A demo can be viewed at the repository.</p>
							<p>Deprecated pending my work on mapd.</p>
						</details>
						<div class="description pane">
							<p>Inspired by the world maps Hollywood likes to put in NASA's mission control or otherwise important-looking rooms.</p>
							<p>A demo can be viewed at the repository.</p>
							<p>Deprecated pending my work on mapd.</p>
						</div>
					</section>
					<section class="pane">
						<header>
							<a href="https://github.com/falliblevagrant/fvtree" target="_blank">fvtree</a>
						</header>
						<details>
							<summary>Generate UTF-8 text art of trees. Has its own <a href="https://falliblevagrant.github.io/fvtree" target="_blank">website</a>!</summary>
							<p>*UTF-8 support pending.</p>
							<p>Notably, trees are built and fully specified with one line of text, like a small programming language.</p>
							<p>You may generate trees on the website.</p>
						</details>
						<div class="description pane">
							<p>*UTF-8 support pending.</p>
							<p>Notably, trees are built and fully specified with one line of text, like a small programming language.</p>
							<p>You may generate trees on the website.</p>
						</div>
					</section>
					<section class="pane">
						<header>
							<a href="https://github.com/falliblevagrant/connwatch" target="_blank">connwatch</a>
						</header>
						<details>
							<summary>Watches connections like the `ss` command, except in a TUI. Abandoned; see <a href="https://github.com/imsnif/bandwhich" target="_blank">bandwhich</a> instead.</summary>
							<p>Abandoned for various reasons.</p>
							<p>Originally intended to be a security application that helped monitor new and suspicious connections. I may revisit the idea later.</p>
							<p>The corner widget inspired my work on warning_window.</p>
							<p>Please use bandwhich instead. It is much more complete.</p>
						</details>
						<div class="description pane">
							<p>Abandoned for various reasons.</p>
							<p>Originally intended to be a security application that helped monitor new and suspicious connections. I may revisit the idea later.</p>
							<p>The corner widget inspired my work on warning_window.</p>
							<p>Please use bandwhich instead. It is much more complete.</p>
						</div>
					</section>
					<section class="pane">
						<header>
							<a href="https://github.com/falliblevagrant/fonetic_misspell" target="_blank">fonetic_misspell</a>
						</header>
						<details>
							<summary>Blithely rearrange graphemes while approximating the same phones.</summary>
							<p>This Python script converts English text into IPA, then back again. Proper spelling is lost in translation.</p>
							<p>Essentially:</p>
							<p>A pristine sentence like this, with nary a blemish.</p>
							<p>becomes:</p>
							<p>a pressteen zentanss llaik diz, wed nerii a bllehmesh.</p>
						</details>
						<div class="description pane">
							<p>This Python script converts English text into IPA, then back again. Proper spelling is lost in translation.</p>
							<p>Essentially:</p>
							<p>A pristine sentence like this, with nary a blemish.</p>
							<p>becomes:</p>
							<p>a pressteen zentanss llaik diz, wed nerii a bllehmesh.</p>
						</div>
					</section>
				</div>
			</main>
			{% include "page_footer.frag.html" %}
		</div>
	</body>
</html>
